ENVIRONMENT=development
HF_HUB_DISABLE_SYMLINKS_WARNING=true
TRANSFORMERS_NO_ADVISORY_WARNINGS=true
OPENAI_API_KEY=<Solo colocar el API Key del proveedor que se usará>
GOOGLE_API_KEY=<Solo colocar el API Key del proveedor que se usará>
GROQ_API_KEY=<Solo colocar el API Key del proveedor que se usará>
OPENROUTER_API_KEY=<Solo colocar el API Key del proveedor que se usará>

GROQ_API_URL=https://api.groq.com/openai/v1/chat/completions
QDRANT_CLUSTER_URI=<la URL de tu cluster en QDrant Cloud o Docker>
QDRANT_API_KEY=<API Key de QDrant Cloud o en Docker si fue establecida>

LANGCHAIN_TRACING_V2=true
LANGCHAIN_ENDPOINT=https://api.smith.langchain.com
LANGCHAIN_API_KEY=<API Key de LangChain para tener observabilidad de la ejecución de los agentes y LLM en LangSmith>
LANGCHAIN_PROJECT=<Nombre de tu proyecto donde veras las trazas en LangSmith>